# =============================================================================
# Variables de Entorno para Desarrollo Local (.env) - Edición Simplificada
# =============================================================================

# --- Configuración de la Aplicación ---

# Define el entorno de ejecución. Opciones: "development" o "production".
APP_ENVIRONMENT="development"

# Activa el modo debug de Flask y logs más detallados. Opciones: true o false.
APP_DEBUG=true

# Nivel mínimo de logs a mostrar. Opciones: "DEBUG", "INFO", "WARNING", "ERROR".
LOG_LEVEL="DEBUG"


# --- Configuración de la Base de Datos ---

# El usuario para conectar a la base de datos MySQL.
DATABASE_USERNAME="admin"

# La contraseña para el usuario de la base de datos.
DATABASE_PASSWORD="admin"

# El host donde se encuentra la base de datos.
DATABASE_HOST="127.0.0.1"

# El puerto de la base de datos.
DATABASE_PORT=3306

# El nombre de la base de datos a la que se conectará
DATABASE_NAME="accounting"